:root {
    --body-bg: #fff;
    --header-bg: #f5f5f5;
    --box-bg: #f5f5f5;
    --button-bg: #ddd;
    --button-hover-bg: #ccc;
    --code-bg: #dcdcdc;

    --text-color: #363636;
    --text-muted-color: #666;
    --link-hover-color: #4f4f4f;

    --green: #1f741f;
    --yellow: #d4d405;
    --highlight-color: #2C6d6d;
    --highlight-color-2: #4f8787;

    --max-page-width: 768px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #353535;
        --header-bg: #404040;
        --box-bg: #2a2a2a;
        --button-bg: #666;
        --button-hover-bg: #6f6f6f;
        --code-bg: #404040;

        --text-color: #fff;
        --text-muted-color: #bbb;
        --link-hover-color: #ddd;

        --green: #16b416;
        --yellow: #d4d400;
        --highlight-color: #77a4a4;
        --highlight-color-2: #4c8585;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'sans-serif';
    color: var(--text-color);
    background: var(--body-bg);
    line-height: 1.3;
}

main {
    padding-top: 3.5rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: var(--header-bg);
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}

header .inner {
    max-width: var(--max-page-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.caniuse {
    flex: 1;
    display: flex;
    font-size: 110%;
    padding: .5rem;
}

.caniuse input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
    background: none;

    flex: 1;
    margin: 0 .6em;
    position: relative;
    bottom: -1px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-muted-color);
}

header nav {
    width: 6.2rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header nav button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    width: 1.8rem;
    height: 1.8rem;
    margin-left: .5rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 3px;
    background-color: var(--button-bg);
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: background-color,box-shadow .2s;
}

header nav button:hover,
header nav button.active {
    background-color: var(--button-hover-bg);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

header nav svg {
    width: 1.15rem;
    height: 1.15rem;
}

header nav svg path {
    fill: var(--text-color);
}

.menu {
    position: absolute;
    margin: 0;
    top: 3.15rem; /* 2.65rem from top to lower button edge + .5rem margin */
    right: 0;
    width: 12rem;
    padding: .5rem;

    list-style: none;
    background-color: var(--button-hover-bg);
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.menu:not(.active) {
    display: none;
}

.menu::before {
    content: '';
    position: absolute;
    right: .4rem;
    top: calc(-1rem + 1px);
    border: solid .5rem transparent;
    border-bottom-color: transparent;
    border-bottom-color: var(--button-hover-bg);
}

.toggle-nightmode {
    color: var(--text-muted-color);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toggle-nightmode pre {
    margin: .4rem 0 0;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--link-hover-color);
    transition: color .2s;
}

code {
    background: var(--code-bg);
    padding: .1em .3em;
}

.page {
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: 1rem;
}

.feature-list {
    margin: -1rem 0;
    padding: 0;
    list-style: none;
}

.feature-box {
    display: flex;
    margin: 1rem 0;
}

.feature {
    flex-grow: 1;
    padding: .5rem;
    background: var(--box-bg);
    position: relative;
}

.title {
    margin: 0;
}

.title a {
    cursor: pointer;
}

.title a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.flag {
    margin: .5rem 0;
}

.version {
    text-align: right;
    width: 6.2rem;
    flex-shrink: 0;
    padding: .6rem 0;
}

.stable {
    color: var(--green);
}

.beta {
    color: var(--yellow);
}

.nightly {
    color: var(--yellow);
}

.none {
    color: var(--red);
}

.match {
    color: var(--highlight-color);
}

.flag .match {
    color: var(--highlight-color-2);
}

.links {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: .6em;
    margin-bottom: .1em;
}

.links li {
    padding-right: .5em;
}
