<!doctype html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; frame-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'
">
<!--
    `script-src 'unsafe-eval'` is only included in the list above because it is required to compile
    WebAssembly code in Chrome, and `script-src 'wasm-eval' is not yet supported (see also
    https://github.com/w3c/webappsec-csp/pull/293)
-->
<script>
    (function () {
        let theme = localStorage.getItem("theme");
        if (typeof theme !== "string") {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                theme = "dark";
            } else {
                theme = "light";
            }
        }

        document.documentElement.dataset.theme = theme;
    })();
</script>

<title>caniuse.rs | Rust feature search</title>

<link rel="icon" sizes="16x16" href="/favicon_16.png" type="image/png">
<link rel="icon" sizes="32x32" href="/favicon_32.png" type="image/png">
<link rel="icon" sizes="64x64" href="/favicon_64.png" type="image/png">
<link rel="icon" sizes="any" href="/favicon.svg" type="image/svg+xml">

<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/style.css">

{% block content %}{% endblock content %}

</html>
